*, body
{
	font-family: Helvetica; 
	text-align:center;
	margin:0;
}


section{
	min-height:100vh;
}

.flex{
	display:flex;
}

.center{
	justify-content: space-around;
	align-items:center;
}

.hero{
	background-image:url(./images/background12a.jpg);
	background-size: cover;
	background-position: center;
}

.title{
	border:0px solid #000; 
	padding:25px; 
	margin:25px; 
	font-size:50px;
	font-weight:100;
	}

.email{
	border:1px solid #c2c5cc;
	background-color:#efefef;
	padding:10px 35px;
	font-size:16px;
}

.button{
	padding:10px 25px;
	border:1px solid #c2c5cc
	font-size:16px;
	background-color:c2c5cc
}

.mc-field-group{
	padding:20px
}
